{% extends 'Pckg/Generic/View/frontend.twig' %}

{% block content %}
    <condo-repository-view></condo-repository-view>
{% endblock %}

{% block nonvue %}
    <script type="text/x-template" id="condo-repository-view-template">
        <div class="condo-repository-add-component">
            <h2>${ repository.name }</h2>
            <table class="table table-condensed table-striped table-hover">
                <thead>
                <tr>
                    <th>Branch</th>
                    <th>Status</th>
                    <th>Version</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="branch in branches">
                    <td>${ branch.branch }</td>
                    <td>
                        <button v-if="['new', 'ahead', 'merged', 'releasing', 'released', 'develop'].indexOf(branch.status_id) >= 0"
                                type="button" @click.prevent="openSyncBranchModal(branch)">
                            Sync
                        </button>
                        <span v-if="branch.status_id == 'syncing'">Syncing</span>
                        <template v-else-if="branch.status_id == 'ahead'">
                            <template v-if="!branch.pull_request">
                                <button type="button" @click.prevent="openCreatePullRequestModal(branch)">Create pull
                                    request
                                </button>
                                <button type="button" @click.prevent="openMergeToPreprodModal(branch)">Merge to
                                    preprod
                                </button>
                            </template>
                            <template v-else>
                                <button type="button" @click.prevent="openMergePullRequestModal(branch)">Merge pull
                                    request to
                                    preprod
                                </button>
                            </template>
                        </template>
                        <span v-else-if="branch.status_id == 'merged'">On preprod</span>
                        <span v-else-if="branch.status_id == 'releasing'">Releasing</span>
                        <span v-else-if="branch.status_id == 'released'">Released</span>
                        <button v-else-if="branch.status_id == 'develop'" type="button"
                                @click.prevent="openPrepareReleaseModal(branch)">Prepare release
                        </button>
                        <button v-else-if="branch.status_id == 'release'" type="button"
                                @click.prevent="openMakeReleaseModal(branch)">Make release
                        </button>
                        <span v-else-if="branch.status_id == 'master'">Master branch</span>
                    </td>
                    <td>
                        ${ branch.commit }<br/>
                        ${ branch.updated_at | datetime }
                    </td>
                </tr>
                </tbody>
            </table>
            {% embed 'Pckg/Generic/View/modal.twig' with {'id': 'syncBranchModal'} %}
                {% block header %}
                    Sync ${ branch.branch } branch
                {% endblock %}
                {% block body %}
                    <p>This action will compare ${ branch.branch } branch to develop and master branches and update
                        branch status.</p>
                {% endblock %}
                {% block footer %}
                    <button type="button" class="btn btn-success" @click.prevent="syncBranch">Sync branch</button>
                {% endblock %}
            {% endembed %}
            {% embed 'Pckg/Generic/View/modal.twig' with {'id': 'createPullRequestModal'} %}
                {% block header %}
                    Create pull request for ${ branch.branch } branch
                {% endblock %}
                {% block body %}
                    {{ createPullRequestForm | raw }}
                {% endblock %}
                {% block footer %}
                    <button type="button" class="btn btn-success" @click.prevent="createPullRequest">Create
                        pull
                        request
                    </button>
                {% endblock %}
            {% endembed %}
            {% embed 'Pckg/Generic/View/modal.twig' with {'id': 'mergeToPreprodModal'} %}
                {% block header %}
                    Merge branch ${ branch.branch } to preprod
                {% endblock %}
                {% block body %}
                {% endblock %}
                {% block footer %}
                    <button type="button" class="btn btn-success" @click.prevent="mergeToPreprod()">Merge to preprod
                    </button>
                {% endblock %}
            {% endembed %}
            {% embed 'Pckg/Generic/View/modal.twig' with {'id': 'mergePullRequestModal'} %}
                {% block header %}
                    Merge branch ${ branch.branch } pull request
                {% endblock %}
                {% block body %}
                {% endblock %}
                {% block footer %}
                    <button type="button" class="btn btn-success" @click.prevent="mergePullRequest()">Merge pull request
                    </button>
                {% endblock %}
            {% endembed %}
            {% embed 'Pckg/Generic/View/modal.twig' with {'id': 'prepareReleaseModal'} %}
                {% block header %}
                    Prepare release from ${ branch.branch }
                {% endblock %}
                {% block body %}
                {% endblock %}
                {% block footer %}
                    <button type="button" class="btn btn-success" @click.prevent="prepareRelease()">Prepare release
                    </button>
                {% endblock %}
            {% endembed %}
            {% embed 'Pckg/Generic/View/modal.twig' with {'id': 'makeReleaseModal'} %}
                {% block header %}
                    Make release
                {% endblock %}
                {% block body %}
                {% endblock %}
                {% block footer %}
                    <button type="button" class="btn btn-success" @click.prevent="makeRelease()">Make release</button>
                {% endblock %}
            {% endembed %}
        </div>
    </script>
    <script>

        Condo.Branches.Entity = class BranchesEntity extends Pckg.Database.Entity {

            getRelations() {
                return {
                    /*repository: {
                     type: Object,
                     of: Impero.Servers.Record.ServersService
                     }*/
                };
            }

            getFields() {
                return {
                    id: Number,
                    branch: String
                };
            }

        };
        Condo.Branches.Record = class BranchRecord extends Pckg.Database.Record {
            sync() {
                http.post(utils.url('{{ url('condo.branch.sync') }}', {branch: this.id}), {}, function (data) {
                    console.log(data);
                });
            }

            createPullRequest(createPullRequestData) {
                http.post(utils.url('{{ url('condo.branch.createPullRequest') }}', {branch: this.id}), createPullRequestData, function (data) {
                    $dispatcher.$emit('notification:success', 'Pull request created successfully: <a href="#">' + data.pullRequest.links.html.href + '</a>');
                });
            }

            getEntity() {
                return new Condo.Branches.Entity();
            }
        };

        Vue.component('condo-repository-view', {
            template: '#condo-repository-view-template',
            mixins: [pckgDelimiters],
            data: function () {
                return {
                    repository: {{ repository.toJSON() | raw }},
                    branches: {{ branches | json_encode | raw }},
                    branch: {},
                    createPullRequestForm: {}
                };
            },
            methods: {

                openSyncBranchModal: function (branch) {
                    this.branch = new Condo.Branches.Record(branch);
                    $('#syncBranchModal').modal('show');
                },
                openCreatePullRequestModal: function (branch) {
                    this.branch = new Condo.Branches.Record(branch);
                    $('#createPullRequestModal').modal('show');
                },
                openMergeToPreprodModal: function (branch) {
                    this.branch = new Condo.Branches.Record(branch);
                    $('#mergeToPreprodModal').modal('show');
                },
                openMergePullRequestModal: function (branch) {
                    this.branch = new Condo.Branches.Record(branch);
                    $('#mergePullRequestModal').modal('show');
                },
                openPrepareReleaseModal: function (branch) {
                    this.branch = new Condo.Branches.Record(branch);
                    $('#prepareReleaseModal').modal('show');
                },
                openMakeReleaseModal: function (branch) {
                    this.branch = new Condo.Branches.Record(branch);
                    $('#makeReleaseModal').modal('show');
                },
                syncBranch: function () {
                    $('#syncBranchModal').modal('hide');
                    this.branch.sync();
                },
                createPullRequest: function () {
                    $('#createPullRequestModal').modal('hide');
                    this.branch.createPullRequest(this.createPullRequestForm);
                },
                mergeToPreprod: function () {
                    $('#mergeToPreprodModal').modal('hide');
                },
                mergePullRequest: function () {
                    $('#mergePullRequestModal').modal('hide');
                },
                prepareRelease: function () {
                    $('#prepareReleaseModal').modal('hide');
                },
                makeRelease: function () {
                    $('#makeReleaseModal').modal('hide');
                }
            }
        });
    </script>
{% endblock %}